html,
body,
header,
#intro {
    height: 100%;
    margin: 0;
    /* font-size: 1rem; */
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 55px;
}
img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#intro {
    background: hsl(233, 47%, 7%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.child-container {
    position: relative;
    background:hsl(244, 38%, 16%);
    padding: 0px;
    width: 80%;
    height: 60%;
    margin-top: 150px;
    line-height: 150px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.image-container {
    position: absolute;
    right: 0px;
}
.main-heading {
    position: absolute;
    top: 50px;
    left: 92px;
    text-align: left;
}
.main-heading h1 span {
    color: hsl(277, 64%, 61%);
}
.main-paragraph {
    position: absolute;
    top: 190px;
    left: 92px;
    text-align: left;
    line-height: 25px;
}
.main-paragraph p {
    opacity: .75;
}
