html,
body,
header,
#intro {
    height: 100%;
    margin: 0;
}
#intro {
    background: hsl(233, 47%, 7%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}