html,
body,
header,
#intro {
    height: 100%;
    margin: 0;
}
#intro {
    background: hsl(233, 47%, 7%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.child-container {
    background: tomato;
    padding: 0px;
    width: 80%;
    height: 60%;
    margin-top: 150px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}